{% extends 'base.html.twig' %}

{% block title %}BookBinder{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css'>
    <link rel="stylesheet" href="{{ asset('css/home.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js'></script>
{% endblock %}

{% block body %}
    <div class="book-store">
    <div class="header">
        <div class="browse">
            <div class="search-bar">
                <input type="text" id="search" placeholder="Search Book" />
            </div>
        </div>
        <div class="header-title" onclick="window.location.href='{{ path('app_home') }}'">Book<span>Binder</span></div>
        <div class="profile">
            <div class="user-profile">
                <img onclick="window.location.href='{{ path('app_register') }}'" src="https://randomuser.me/api/portraits/women/63.jpg" alt="" class="user-img">
            </div>
            <div class="profile-menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                    <path d="M3 12h18M3 6h18M3 18h18" /></svg>
                Menu
            </div>
        </div>
    </div>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
{% endblock %}
