{% extends 'base.html.twig' %}

{% block title %}BookBinder{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="home-recommend">
        {% for isbn in recommend %}
            <div class="book-card">
                <div class="content-wrapper">
                    <img src="{{ bookinfo.getBookCover(isbn) }}" alt="" class="book-card-img">
                    <div class="card-content">
                        <div class="book-name">{{ bookinfo.getBookTitle(isbn) }}</div>
                        <div class="book-by">{{ bookinfo.getBookAuthor(isbn) }}</div>
                        <div class="book-rate">{{ bookinfo.getBookRate(isbn) }}</div>
                        <div class="book-sum">{{ bookinfo.getBookSummary(isbn) }}</div>
                    </div>
                </div>
                {#                <div class="likes">#}
                {#                    <div class="like-profile">#}
                {#                        {% for user_id in likers %}#}
                {#                            <img src="{{ get3UserProfilePicture(user_id) }}" alt="" class="like-img">#}
                {#                        {% endfor %}#}
                {#                    </div>#}
                {#                    <div class="like-name">#}
                {#                        {% for user_id in likers %}#}
                {#                            <div><span>{{ get3UserDisplayName(user_id) }}</span></div>#}
                {#                        {% endfor %}#}
                {#                        {{ getLikeCount(isbn) }} friends liked this.#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        {% endfor %}
    </div>
{% endblock %}
