{% extends 'base.html.twig' %}

{% block title %}BookBinder{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css'>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js'></script>
{% endblock %}

{% block content %}
    <main>
        <div class="book-slide">
            <div class="book js-flickity" data-flickity-options='{ "wrapAround": true }'>
                {% for book in sliding_books %}
                <div class="book-cell" data-isbn={{ book.isbn }}>
                    <div class="book-img">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="book cover placeholder" class="book-photo">
                    </div>
                    <div class="book-content">
                        <div class="book-title">Book Title</div>
                        <div class="book-author">by <span class="name">Name of the Author</span></div>
                        {# FIXME: implement book description page #}
                        <a href="{{ path('book_show', {'id':book.id}) }}"><div class="book-see" >See The Book</div></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="main-wrapper">
            <section class="books-of">
                <div class="week year">
                    <div class="author-title">Books of the year</div>
                    {% for friend in friend_list %}
                    <div class="year-book" data-isbn="{{ friend.getDisplayName }}">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="book cover placeholder" class="year-book-img">
                        <div class="year-book-content">
                            <div class="year-book-name">Book Title Placeholder</div>
                            <div class="year-book-author">by <span>Author's Name Placeholder</span></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="overlay"></div>
            </section>
            <div class="popular-books">
                <div class="main-menu">
                    <div class="genre">Popular Books</div>
                </div>
                <div class="book-cards">
                    {% for book in popular_books %}
                    <div class="book-card" data-isbn="{{ book.isbn }}">
                        <div class="content-wrapper">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="book cover placeholder" class="book-card-img">
                            <div class="card-content">
                                <div class="book-name">Changes Are</div>
                                <div class="book-by">by <span>Richard Russo</span></div>
                            </div>
                        </div>
                        {# FIXME: Show book followers briefly #}
                        {#
                        <div class="likes">
                            <div class="like-profile">
                                <img src="" alt="" class="like-img">
                            </div>
                            <div class="like-profile">
                                <img src="" alt="" class="like-img">
                            </div>
                            <div class="like-profile">
                                <img src="" alt="" class="like-img">
                            </div>
                            <div class="like-name"><span class="name">Name placeholder</span> and <span class="suj>2 other friends</span> like this</div>
                        </div>
                        #}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
        <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
