{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/book.css') }}"/>
{% endblock %}


{% block content %}
    {#  Todo: book info ie. Cover, title, author, genre and description  #}

    <div class="subscribe">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_login') }}">Subscribe after Login</a>
        {% elseif isSubscribed %}
            <a href="{{ path('book_unsubscribe', {'id': book.id}) }}">Unsubscribe</a>
        {% else %}
            <a href="{{ path('book_subscribe', {'id': book.id}) }}">Subscribe</a>
        {% endif %}
    </div>



    <div class="subscribers"
            {% for subscriber in subscribers %}
                <div class="subscriber">
                    <p>{{ subscriber.displayName }}</p>
                </div>
            {% endfor %}
    </div>

    <main class="book_info" data-isbn={{ book.isbn }}>
        <aside>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="book_photo" alt="Book cover of book #" width="250" height="400">
            <div class="starbox">
                <span class="fa fa-star fa-2x filled"></span>
                <span class="fa fa-star fa-2x filled"></span>
                <span class="fa fa-star fa-2x filled"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
            </div>
        </aside>
        <div class="info_and_comments">
            <section class="book_textual_data">
                <h1 class="book_title">Book Title</h1>
                <h2 class="book_author">Author</h2>
                {# FIXME: replace the paragraph below with a real book description once it is available. #}
                <p> lorem ipsum dolor sit amet ....</p>
            </section>
            <section class="book_comments">
                <h2>Comments</h2>
                {% for comment in comments %}
                    <div>
                        {# checks if we are currently editing this comment, using its ID #}
                        {% if editingComment is defined and editingComment and comment.id == editComment.id %}
                            {{ form(editCommentForm) }}
                        {% else %}
                            {{ comment.message }}
                            {{ comment.edited? '(edited)' : '' }}
                            {% if app.user %}
                                {{ comment.commenter.displayName }}
                            {% else %}
                                <p><a href="{{ path('app_login') }}">Login</a> or <a href="{{ path('app_register') }}">Register</a> to view the commenter's name.</p>
                            {% endif %}
                            {{ comment.timestampFormatted }}
                            {% if comment.commenter == app.user %}
                                <a href="{{ path('comment_edit', {'id': book.id, 'commentId': comment.id}) }}">Edit</a>
                                <a href="{{ path('comment_delete', {'id': book.id, 'commentId': comment.id}) }}">Delete</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                {# Render the normal comment form only if not editing a comment #}
                {%  if app.user %}
                    {% if editingComment is not defined or not editingComment %}
                        <h2>Leave a comment!</h2>
                        {{ form(commentForm) }}
                    {% endif %}
                {% endif %}
            </section>
        </div>
    </main>
    <script src="{{ asset('js/book.js') }}"></script>
{% endblock %}