{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
{#  Todo: book info ie. Cover, title, author, genre and description  #}
    <h2>Title</h2>

    <h2>Comments</h2>
    {% for comment in comments %}
        <div>
            {{ comment.message }}
            {{ comment.commenter.displayName }}
            {{ comment.timestampFormatted }}
        </div>
    {% endfor %}

    <h2>Leave a comment!</h2>
    {{ form_start(commentForm) }}
        {{ form_widget(commentForm) }}
        <button type="submit" class="btn">Post comment</button>
    {{ form_end(commentForm) }}

{% endblock %}