{% extends 'base.html.twig' %}

{% block title %}{{ book.getTitle }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/book.css') }}"/>
{% endblock %}

{% block content %}
    <main data-isbn={{ book.isbn }}>
        <div class="cover_subscribe_rate">
            <img src="{{ book.getCoverUrl }}" class="book_photo" alt="Book cover of book #" width="250" height="400">
            <div class="subscribe">
                {% if not app.user %}
                    <button class="login_button" type="button" onclick="window.location.href='{{ path('app_login') }}'">Subscribe after Login</button>
                {% elseif isSubscribed %}
                    <button class="unsubscribe_button" type="button">Unsubscribe</button>
                {% else %}
                    <button class="subscribe_button" type="button">Subscribe</button>
                {% endif %}
            </div>
            <div class="starbox">
                <span class="fa fa-star fa-2x filled"></span>
                <span class="fa fa-star fa-2x filled"></span>
                <span class="fa fa-star fa-2x filled"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
            </div>
            <p>Rate this book</p>
        </div>

        <div class="info_subscribers_comments">
            <section class="book_textual_data">
                <h1 class="book_title">{{ book.getTitle }}</h1>
                <h2 class="book_author">{{ book.getAuthor }}</h2>
                <p class="book_description">{{ book.getBookDescription }}</p>
            </section>
            <section class="book_subscribers">
                <h2 class="subscribers">Subscribers</h2>
                <div class="subscribers-row">
                    {% for subscriber in subscribers %}
                        <div class="subscriber">
                            <a class="user_name" onclick="window.location.href='{{ path('app_user',{'id': subscriber.id}) }}'">{{ subscriber.displayName }}</a>
                        </div>
                        {% if not loop.last %}{% endif %}
                    {% endfor %}
                </div>
            </section>
            <section class="book_comments">
                <h2 class="comments">Comments</h2>
                {% for comment in comments %}
                    <div class="comment">
                        <a class="user_name">{{ comment.commenter.displayName }}</a>
                        <p class="comment_text">{{ comment.message }}</p>
                        <p class="comment_date">{{ comment.timestampFormatted }}</p>
                    </div>
                {% endfor %}
                {%  if app.user %}
                    <h3>Leave a comment!</h3>
                {% else %}
                    <p><a href="{{ path('app_login') }}">Login</a> to leave a comment.</p>
                {% endif %}
            </section>
        </div>
    </main>
    <script src="{{ asset('js/book.js') }}"></script>
{% endblock %}