{% extends 'base.html.twig' %}

{% block title %}{{ booktitle }}{% endblock %}

{% block body %}
{# TODO: book info ie. Cover, title, author, genre and description #}
    <h1>{{ booktitle }}</h1>
    <h2>Leave a Comment</h2>
    {% for comment in comments %}
    {{ comment }}
    {% endfor %}

    {{ form_start(commentForm) }}
        {{ form_widget(commentForm) }}
        <button type="submit" class="btn">Post comment</button>
    {{ form_end(commentForm) }}

{% endblock %}