<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/bookbinder_icon.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
<div class="realbody">
    <div class="header">

        <div class="header-logo" onclick="window.location.href='{{ path('app_home') }}'">Book<span>Binder</span></div>

        {#        <div class="header-menu">#}
        {#            <div class="header-home" onclick="window.location.href='{{ path('app_home') }}'">Home</div>#}
        {#            <div class="header-category" onclick="window.location.href='#'">Category</div>#}
        {#        </div>#}

        <div class="search-bar">
            <input type="text" id="search" placeholder="Search Book" />
        </div>

        <div class="profile">
            {% if app.user %}
                <div class="user-profile">
                    <img src="{{ asset('images/default_avator.jpg') }}" alt="" class="user-img">
                    <div class="dropdown-menu">
                        <ul>
                            <li>UserID: {{ app.user.id }}</li>
                            <li><a href="{{ path('user_profile', {'id': app.user.id}) }}">View Profile</a></li>
                            <li><a href="{{ path('user_settings')}}">Settings</a></li>
                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="registerandlogin">
                    <a href="{{ path('app_register') }}">Register</a>
                    <a href="{{ path('app_login') }}">Login</a>
                </div>
            {% endif %}
        </div>

    </div>

    <main>
        {% block content %}{% endblock %}
    </main>
</div>
</body>

</html>
