<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Base{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="icon" href="{{ asset('images/bookbinder_icon.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        {% endblock %}
    </head>

    <body>
        <div class="book-store">
        <div class="header">
            <div class="browse">
                <div class="browse-category">
                    Browse Category
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                        <path d="M6 9l6 6 6-6" /></svg>
                </div>
                <div class="search-bar">
                    <input type="text" id="search" placeholder="Search Book" />
                </div>
            </div>
            <div class="header-title" onclick="window.location.href='{{ path('app_home') }}'">Book<span>Binder</span></div>
            <div class="profile">
                <div class="user-profile">
                    <img onclick="window.location.href='{{ path('app_register') }}'" src="https://randomuser.me/api/portraits/women/63.jpg" alt="" class="user-img">
                </div>
                <div class="profile-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                        <path d="M3 12h18M3 6h18M3 18h18" /></svg>
                    Menu
                </div>
            </div>
        </div>
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
    </body>

</html>
