{% extends 'base.html.twig' %}

{% block title %}{{ user.getDisplayName }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}"/>
{% endblock %}

{% block content %}
    <main class="user-profile">
        <section class="user_info">
            <h2 class="account_info"> My account info </h2>
            <h3 class="user_name"> Username: {{ user.getDisplayName }} </h3>
            <label for="new_username">Change my username to: </label>
            <input type="text" id="new_username">
            <button type="button">Change username</button>
            <h3 class="user_email"> Email: {{ user.getEmail }} </h3>
        </section>
        <section class="user_friends">
            <h2 class="user_friends"> My Friends </h2>
            <ul>
                {#FIXME: This is not working#}
                {# {% for friend in user.getFriends %}
                <li> {{ friend.getName }} </li>
                {% endfor %} #}
                <li> Friend 1 </li>
                <li> Friend 2 </li>
                <li> Friend ... </li>
            </ul>
        </section>
        <section class="user_comments">
            <h2> My Comments </h2>
            <ul>
                {#FIXME: This is not working#}
                {# {% for comment in user.getComments %}
                <li>{{ comment.getMessage }}</li>}
                {% endfor %}} #}
                <li> Comment 1 </li>
                <li> Comment 2 </li>
                <li> Comment ... </li>
            </ul>
        </section>
        <section class="user_messages">
            <h2> My Messages </h2>
            <p> Click <u><a href="{{ path('app_messages') }}">here</a></u>  to check out your messages. </p>
        </section>
    </main>
{% endblock %}
