{% extends 'base.html.twig' %}

{% block title %}{{ user.getDisplayName }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}"/>
{% endblock %}

{% block body %}
    <div class="user-profile">
        <h1>{{ user.getDisplayName }}</h1>
{#FIXME: This is not working#}
{#        <ul>#}
{#            {% for comment in user.getComments %}#}
{#                <li>{{ comment.getMessage }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
    </div>
{% endblock %}
